<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
  <title><%- title %></title>

  <!-- shims -->
  <script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

  <link href="/node_modules/kemet-scss/dist/css/kemet.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/templates.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">


  <!-- elements -->
  <script type="module" src="/assets/elements/dummy-element.js" crossorigin></script>
  <script type="module" src="/assets/elements/dummy-input.js" crossorigin></script>
  <script type="module" src="/assets/elements/dummy-button.js" crossorigin></script>
  <script type="module" src="/assets/elements/dummy-login.js" crossorigin></script>
  <script type="module" src="/assets/elements/dummy-travel.js" crossorigin></script>
  <script type="module" src="/assets/elements/dummy-list.js" crossorigin></script>
</head>
<body class="body--<%- slug %>">
