<% include ../includes/header %>

  <header layout="flexrow" align="middle" class="wrapper wrapper--full" autostack>
    <div>
      <ul layout="flexlist" align="middle" gutters>
        <li><h2>Agency Name</h2></li>
        <li><a href="#one">One</a></li>
        <li><a href="#two">Two</a></li>
      </ul>
    </div>
    <div breakpoint="tiny-content">
      <ul layout="flexlist" gutters>
        <li><a href="#three">Three</a></li>
        <li><a href="#four">Four</a></li>
        <li><a href="#five">Five</a></li>
        <li><a href="#six">Six</a></li>
      </ul>
    </div>
  </header>

  <br />

  <section class="wrapper wrapper--page text-center">
    <h1>Changing the World Through Design</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
    <ul layout="flexlist" gutters>
      <li><dummy-button>Learn More</dummy-button></li>
      <li><dummy-button>Learn Less</dummy-button></li>
    </ul>
  </section>

  <br /><hr /><br />

  <section layout="flexgrid" gutters class="wrapper wrapper--page">
    <div breakpoint="tiny-100 medium-50">
      <img src="/assets/images/agency-01.png" style="width:100%;" />
    </div>
    <div breakpoint="tiny-100 medium-50" order="medium-minus-1">
      <h1>Our Agency, our selves.</h1>
      <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.</p>
    </div>
    <div breakpoint="tiny-100 medium-33">
      <h2>Photoshop</h2>
      <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
    </div>
    <div breakpoint="tiny-100 medium-33">
      <h2>Javascript</h2>
      <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
    </div>
    <div breakpoint="tiny-100 medium-33">
      <h2>Marketing</h2>
      <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
    </div>
  </section>

  <hr /><br />

  <section layout="flexrow" class="wrapper wrapper--page">
    <a href="#"class="text-center"><h1>28</h1>Websites</a>
    <a href="#"class="text-center"><h1>43</h1>Apps</a>
    <a href="#"class="text-center"><h1>95</h1>Ads</a>
    <a href="#"class="text-center"><h1>59</h1>Cakes</a>
    <a href="#"class="text-center"><h1>18</h1>Logos</a>
  </section>

  <br /><hr />

  <section class="wrapper wrapper--page">
    <h2>Our Recent Work</h2>
    <div layout="flexgrid" basis="tiny-1-columns medium-4-columns" gutters="tiny-plus-3">
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
      <div><dummy-element label="[Work]"><dummy-element height="286px"></div>
    </div>
  </section>

  <hr />

  <section class="wrapper wrapper--page">
    <div layout="flexlist" gutters>
      <a href="#one">One</a>
      <a href="#two">Two</a>
      <a href="#three">Three</a>
      <a href="#four">Four</a>
    <div>
  </section>

<% include ../includes/footer %>
