<% include ../includes/header %>

  <header layout="flexrow" align="middle" autostack class="wrapper wrapper--full">
    <div>
      <ul layout="flexlist" align="middle" gutters>
        <li><h2>Site Name</h2></li>
        <li><a href="#one">One</a></li>
        <li><a href="#two">Two</a></li>
        <li><a href="#three">Three</a></li>
      </ul>
    </div>
    <div breakpoint="tiny-content">
      <ul layout="flexlist" gutters>
        <li><a href="#two">Three</a></li>
        <li><a href="#one">Four</a></li>
        <li><a href="#two">Five</a></li>
        <li><a href="#three">Six</a></li>
      </ul>
    </div>
  </header>

  <br /><hr /><br />

  <section class="wrapper wrapper--page">
    <h2 class="text-center">Our Newest Product</h2>
    <hr /><br />
    <div layout="flexrow" gutters="tiny-plus-3" autostack>
      <div>
        <dummy-travel label="[Product]" height="400px"></dummy-travel>
        <h3>Nulla At Nulla Justo, Eget</h3>
        <span>$400</span>
        <p><paper-button raised>Buy</paper-button></p>
      </div>
      <div>
        <dummy-travel label="[Product]" height="400px"></dummy-travel>
        <h3>Nulla At Nulla Justo, Eget</h3>
        <span>$400</span>
        <p><paper-button raised>Buy</paper-button></p>
      </div>
      <div>
        <dummy-travel label="[Product]" height="400px"></dummy-travel>
        <h3>Nulla At Nulla Justo, Eget</h3>
        <span>$400</span>
        <p><paper-button raised>Buy</paper-button></p>
      </div>
      <div>
        <dummy-travel label="[Product]" height="400px"></dummy-travel>
        <h3>Nulla At Nulla Justo, Eget</h3>
        <span>$400</span>
        <p><paper-button raised>Buy</paper-button></p>
      </div>
    </div>
  </section>

  <hr /><br />

  <div class="wrapper wrapper--page">
    <dummy-element label="Weekly Specials" height="50px"></dummy-element>
  </div>

  <br /><hr />

  <section class="wrapper wrapper--page">
    <h2 class="text-center">Some Other Near Products</h2>
    <hr /><br />
    <div layout="flexgrid" gutters="tiny-plus-3" basis="tiny-2-columns medium-3-columns large-6-columns">
      <div>
        <dummy-travel label="[Product]"></dummy-travel>
        <h3>Nulla At Nulla Justo, Eget</h3>
        <span>$400</span>
        <p><paper-button raised>Buy</paper-button></p>
      </div>
      <div>
        <dummy-travel label="[Product]"></dummy-travel>
        <h3>Nulla At Nulla Justo, Eget</h3>
        <span>$400</span>
        <p><paper-button raised>Buy</paper-button></p>
      </div>
      <div>
        <dummy-travel label="[Product]"></dummy-travel>
        <h3>Nulla At Nulla Justo, Eget</h3>
        <span>$400</span>
        <p><paper-button raised>Buy</paper-button></p>
      </div>
      <div>
        <dummy-travel label="[Product]"></dummy-travel>
        <h3>Nulla At Nulla Justo, Eget</h3>
        <span>$400</span>
        <p><paper-button raised>Buy</paper-button></p>
      </div>
      <div>
        <dummy-travel label="[Product]"></dummy-travel>
        <h3>Nulla At Nulla Justo, Eget</h3>
        <span>$400</span>
        <p><paper-button raised>Buy</paper-button></p>
      </div>
      <div>
        <dummy-travel label="[Product]"></dummy-travel>
        <h3>Nulla At Nulla Justo, Eget</h3>
        <span>$400</span>
        <p><paper-button raised>Buy</paper-button></p>
      </div>
    </div>
  </section>

  <hr />

  <section layout="flexrow" gutters autostack class="wrapper wrapper--page">
    <div>
      <h3>Top Products</h3>
      <div layout="flexrow" gutters>
        <div breakpoint="tiny-content">
          <img src="http://placekitten.com/g/300/300" width="100" height="100" />
        </div>
        <div>
          <strong>Nunc Eu Ullamcorper Orci</strong>
          <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
        </div>
      </div>
      <br />
      <div layout="flexrow" gutters>
        <div breakpoint="tiny-content">
          <img src="http://placekitten.com/g/300/300" width="100" height="100" />
        </div>
        <div>
          <strong>Nunc Eu Ullamcorper Orci</strong>
          <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
        </div>
      </div>
      <br />
      <div layout="flexrow" gutters>
        <div breakpoint="tiny-content">
          <img src="http://placekitten.com/g/300/300" width="100" height="100" />
        </div>
        <div>
          <strong>Nunc Eu Ullamcorper Orci</strong>
          <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
        </div>
      </div>
    </div>
    <div>
      <h3>Top Products</h3>
      <div layout="flexrow" gutters>
        <div breakpoint="tiny-content">
          <img src="http://placekitten.com/g/300/300" width="100" height="100" />
        </div>
        <div>
          <strong>Nunc Eu Ullamcorper Orci</strong>
          <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
        </div>
      </div>
      <br />
      <div layout="flexrow" gutters>
        <div breakpoint="tiny-content">
          <img src="http://placekitten.com/g/300/300" width="100" height="100" />
        </div>
        <div>
          <strong>Nunc Eu Ullamcorper Orci</strong>
          <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
        </div>
      </div>
      <br />
      <div layout="flexrow" gutters>
        <div breakpoint="tiny-content">
          <img src="http://placekitten.com/g/300/300" width="100" height="100" />
        </div>
        <div>
          <strong>Nunc Eu Ullamcorper Orci</strong>
          <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
        </div>
      </div>
    </div>
    <div>
      <h3>Top Products</h3>
      <div layout="flexrow" gutters>
        <div breakpoint="tiny-content">
          <img src="http://placekitten.com/g/300/300" width="100" height="100" />
        </div>
        <div>
          <strong>Nunc Eu Ullamcorper Orci</strong>
          <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
        </div>
      </div>
      <br />
      <div layout="flexrow" gutters>
        <div breakpoint="tiny-content">
          <img src="http://placekitten.com/g/300/300" width="100" height="100" />
        </div>
        <div>
          <strong>Nunc Eu Ullamcorper Orci</strong>
          <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
        </div>
      </div>
      <br />
      <div layout="flexrow" gutters>
        <div breakpoint="tiny-content">
          <img src="http://placekitten.com/g/300/300" width="100" height="100" />
        </div>
        <div>
          <strong>Nunc Eu Ullamcorper Orci</strong>
          <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
        </div>
      </div>
    </div>
  </section>

  <br />

  <section class="wrapper wrapper--full">
    <br /><br />
    <div class="wrapper wrapper--page">
      <h3>Vivamus Hendrerit Arcu Sed Erat Molestie</h3>
      <div layout="flexrow" gutters="tiny-plus-6" autostack>
        <div breakpoint="tiny-50">
          <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.</p>
          <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.</p>
        </div>
        <dummy-list>
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </dummy-list>
        <dummy-list>
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </dummy-list>
      </div>
    </div>
    <br /><br />
  </section>

<% include ../includes/footer %>
